.root {
  .app_bar {
    box-shadow: none;
    background-color: #f3f3f3;
    color: #3f3f3f;
    margin: 0;
    padding-bottom: -30px;
    border-bottom: 3px solid rgb(245, 45, 45);

    .tool_bar {
      padding: 0;

      .title {
        font-weight: 700;
      }
    }
  }
}
